@import "../../Variables.scss";

.client_settings {
  font-family: $font-primary;
  color: $primary-color;
  padding: 3rem;

  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
  }

  hr {
    width: 75vw;
    height: 0.5px;
    background-color: $light-color;
    border: none;
    justify-self: center;
    margin-bottom: 3rem;
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;

    .update_data_section,
    .change_password_section {
      width: 45%;
    }

    .delete_account_section {
      flex: 1 1 100%;
    }

    .update_data_section,
    .change_password_section,
    .delete_account_section {
      h2 {
        margin-bottom: 1.5rem;
        font-weight: 400;
      }

      .form-group {
        margin-bottom: 1.2rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
        }

        input {
          width: 75%;
          padding: 0.8rem;
          border: 1px solid $light-color;
          border-radius: 5px;
          font-size: 1rem;
          color: $primary-color;
          font-family: $font-primary;

          &:focus {
            border-color: $dark-color;
            outline: none;
          }

          &::placeholder {
            color: $light-color;
          }
        }
      }

      button {
        padding: 0.8rem 1.5rem;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-family: $font-primary;

        &:hover {
          background-color: $hover-color;
          color: $white;
        }
      }
    }

    .delete_account_section {
      margin-top: 1.5rem;
      h2 {
        margin-bottom: 1rem;
        font-weight: 400;
      }

      p {
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
        color: $dark-color;
      }

      .delete_account_form {
        .form-group {
          margin-bottom: 1.2rem;

          label {
            display: block;
            margin-bottom: 0.5rem;
          }

          input {
            width: 50%;
            padding: 0.8rem;
            border: 1px solid $light-color;
            border-radius: 5px;
            font-size: 1rem;

            &:focus {
              border-color: $dark-color;
              outline: none;
            }

            &::placeholder {
              color: $light-color;
            }
          }
        }

        .delete_account_btn {
          padding: 0.8rem 1.5rem;
          background-color: #e74c3c;
          color: $white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken(#e74c3c, 20%);
          }
        }
      }
    }
  }

  // Responsywność
  @media (max-width: 768px) {
    .container {
      flex-direction: column;

      .update_data_section,
      .change_password_section,
      .delete_account_section {
        flex: 1 1 100%;
        width: auto;
        text-align: center;
        margin-top: 3rem;
      }
    }
  }
}
