// Search_page.scss

@import "../Variables.scss";

.search_page {
  justify-items: center;
  padding-bottom: 2rem;

  .back {
    float: none;
    display: block;
    width: 100%;
    padding: 1.5rem 0 0 1rem;
    color: $primary-color;
 

    &:hover {
      color: $hover-color;
    }

    a {
      font-family: $font-primary;
      color: $primary-color;
    
      

      &:hover {
        color: $hover-color;
       
      }
    }
  }

  .search_form {
    padding: 0;
    border-radius: 0;
    width: 80vw;
    margin: 1.5rem auto;
    font-family: $font-primary;
    margin-top: 4rem;

    .form_groups {
      .form_group {
        .dropdown {
          .dropdown_menu {
            top: 5rem;
          }
        }
      }
    }
  }

  hr {
    width: 80%;
    height: 1px;
    background-color: $light-color;
    border: none;
  }

  .sort_and_results {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
   // margin-top: 300rem;
    align-items: center;
    margin: auto;
    margin-top: 1.5rem;

    .sort_options {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      label {
        margin-right: 1rem;
        font-family: $font-primary;
        color: $primary-color;
      }

      // Stylizacja komponentu react-select
      .react-select__control {
        background-color: $white;
        border: 1px solid $light-color;
        border-radius: 0.5rem;
        font-family: $font-primary;
        font-size: 1rem;
        cursor: pointer;
        padding: 0.2rem 0;

        &:hover {
          border-color: $dark-color;
        }

        &--is-focused {
          border-color: $dark-color;
          box-shadow: none;
        }
      }

      .react-select__value-container {
        justify-content: center;
        max-width: fit-content;
      }

      .react-select__single-value {
        color: $primary-color;
      }

      .react-select__indicator-separator {
        display: none;
      }

      .react-select__dropdown-indicator {
        color: $primary-color;

        &:hover {
          color: $hover-color;
        }
      }

      .react-select__menu {
        background-color: $white;
        border: 1px solid $light-color;
        margin-top: 0;
        z-index: 9999;
        width: 200px;
      }

      .react-select__menu-list {
        padding: 0;
      }

      .react-select__option {
        font-family: $font-primary;
        font-size: 1rem;
        color: $primary-color;
        cursor: pointer;
        padding: 0.5rem;
        text-align: left;
        transition: 0.2s color ease, 0.2s background-color ease;

        &:hover {
          background-color: $almost-white;
          color: $hover-color;
        }

        &--is-focused {
          background-color: $almost-white;
          color: $hover-color;
        }

        &--is-selected {
          background-color: $primary-color !important;
          color: $white !important;
        }
      }
    }

    .total-results {
      margin: 0;
      width: 80%;
      display: contents;
      font-family: $font-primary;
      color: $primary-color;
    }
  }

  .no-results {
    font-family: $font-primary;
    color: $primary-color;
    background-color: $almost-white;
    text-align: center;
    padding: 2rem;
    width: 80%;
    border-radius: 1rem;

    i {
      display: block;
      justify-self: center;
      margin-top: 2rem;
      font-size: 5rem;
//margin-left:8rem;
    }
  }

  .wrapper {
    display: grid;
    margin-top: 1.5rem;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2.5rem;
    margin: auto; 
    margin-top: 2rem;
  }

  .card {
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 220px;
      
      overflow: hidden;
      
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient( circle,
      rgba(134, 160, 171, 0) 30%,
      rgba(13, 13, 14, 0.5) 120%
    ); // Vignette effect
      transition: opacity 0.9s ease 0.3s;
        opacity: 0;
      }
      &:hover::after {
        opacity: 1;
      }
      &:hover img {
        transform: scale(1.15);
      }



      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform 1s ease;
      }



      .category {
        font-family: $font-primary;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: $white;
        color: $primary-color;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-size: 0.85rem;
      }
    }

    h2 {
      font-family: $font-primary;
      font-size: 1.4rem;
      margin: 1rem 1rem 0.5rem;
      color: $primary-color;
      font-weight: 400;
    }

    p {
      font-family: $font-primary;
      font-size: 0.8rem;
      margin: 0 1rem 0.5rem;
      color: $dark-color;

      em {
        font-size: 0.9rem;
        color: $primary-color;
        font-style: normal;
      }
    }
  }

  .load-more {
    width: 14vw;
    height: 7vh;
    font-family: "Bree Serif", serif;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-left: 9.4rem;

    &:hover {
      background-color: $hover-color;
    }
  }
}
