@import "../Variables.scss";

.search_page {
  justify-items: center;
  padding-bottom: 2rem;

  .back {
    float: none;
    display: block;
    width: 100%;
    padding: 1rem 0 0 2rem;
    color: $primary-color;

    &:hover {
      color: $hover-color;
    }

    a {
      font-family: $font-primary;
      color: $primary-color;

      &:hover {
        color: $hover-color;
      }
    }
  }

  .search_form {
    padding: 0;
    border-radius: 0;
    width: 80vw;
    margin: 1.5rem auto;
    font-family: $font-primary;

    .form_groups {
      .form_group {
        .dropdown {
          .dropdown_menu {
            top: 5rem;
          }
        }
      }
    }
  }

  hr {
    width: 80%;
    height: 1px;
    background-color: $light-color;
    border: none;
  }

  .total-results {
    margin: 0;
    width: 80%;
    font-family: $font-primary;
    color: $primary-color;
  }

  .no-results {
    font-family: $font-primary;
    color: $primary-color;
    background-color: $almost-white;
    text-align: center;
    padding: 2rem;
    width: 80%;
    border-radius: 1rem;
    i {
      display: block;
      justify-self: center;
      margin-top: 2rem;
      font-size: 5rem;
    }
  }

  .wrapper {
    display: grid;
    margin-top: 1.5rem;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.5rem;
  }

  .card {
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 220px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .category {
        font-family: $font-primary;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        background-color: $white;
        color: $primary-color;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-size: 0.85rem;
      }
    }

    h2 {
      font-family: $font-primary;
      font-size: 1.4rem;
      margin: 1rem 1rem 0.5rem;
      color: $primary-color;
      font-weight: 400;
    }

    p {
      font-family: $font-primary;
      font-size: 0.8rem;
      margin: 0 1rem 0.5rem;
      color: $dark-color;
      em {
        font-size: 0.9rem;
        color: $primary-color;
        font-style: normal;
      }
    }
  }
  .load-more {
    width: 14vw;
    height: 7vh;
    font-family: "Bree Serif", serif;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    margin-top: 1.5rem;
    &:hover {
      background-color: $hover-color;
    }
  }
}
