@import "../styles/Variables.scss";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* Ustawienie box-sizing dla wszystkich elementów */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reservations .notification {
  position: fixed !important;
  top: 60px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 9999;
  background-color: $primary-color !important;
  color: $secondary-color !important;
  padding: 1rem !important;
  border-radius: 5px !important;
  font-family: $font-primary !important;
  font-size: 1rem !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  animation: fade-in-out 4s ease !important;

  @keyframes fade-in-out {
    0% {
      opacity: 0 !important;
      transform: translateY(-10px) translateX(-50%) !important;
    }
    10% {
      opacity: 1 !important;
      transform: translateY(0) translateX(-50%) !important;
    }
    90% {
      opacity: 1 !important;
    }
    100% {
      opacity: 0 !important;
      transform: translateY(-10px) translateX(-50%) !important;
    }
  }
}

.notification {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 1rem;
  border-radius: 5px;
  font-family: $font-primary;
  font-size: 1rem !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fade-in-out 4s ease;

  @keyframes fade-in-out {
    0% {
      opacity: 0 !important;
      transform: translateY(-10px) translateX(-50%);
    }
    10% {
      opacity: 1 !important;
      transform: translateY(0) translateX(-50%);
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-10px) translateX(-50%);
    }
  }
}

.back {
  float: left;
  color: $very-light-color;
  transition: color 0.3s ease;
  a {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: $secondary-color;
    transition: color 0.3s ease;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    color: $white;
  }
}
