@import "../styles/Variables.scss";

body {
  margin: 0;
}

.back {
  float: left;
  color: $very-light-color;
  transition: color 0.3s ease;
  a {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: $secondary-color;
    transition: color 0.3s ease;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    color: $white;
  }
}
