@import "./Variables.scss";

.react-datepicker {
  font-family: $font-primary;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -7.5rem;
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);

  &.open {
    opacity: 1;
    transform: translateY(0);
  }

  .react-datepicker__header {
    background-color: $primary-color;
    border-bottom: 1px solid darken($primary-color, 10%);
    border-radius: 0.5rem 0.5rem 0 0;

    .react-datepicker__current-month {
      font-weight: bold;
      font-size: 1.1rem;
      color: $secondary-color;
    }

    .react-datepicker__day-name {
      font-size: 0.9rem;
      color: $secondary-color;
    }
  }

  .react-datepicker__day {
    color: darken($primary-color, 20%);
    font-weight: normal;

    &:hover {
      background-color: lighten($primary-color, 40%);
      color: darken($primary-color, 30%);
    }

    &.react-datepicker__day--disabled {
      color: $light-color;
      background-color: #f8f8f8;
      text-decoration: line-through;
    }

    &--keyboard-selected {
      background-color: transparent !important;
      color: inherit !important;
      border-radius: 0 !important;
    }

    &--today {
      background-color: $very-light-color !important;
      color: $primary-color !important;
      border-radius: 50% !important;

      &:hover {
        background-color: $light-color !important;
      }
    }

    &--selected {
      background-color: $primary-color !important;
      color: $secondary-color !important;
      border-radius: 50% !important;

      &:hover {
        background-color: lighten($primary-color, 20%) !important;
      }
    }

    &--outside-month {
      color: $light-color;
      opacity: 0.5;
      pointer-events: all;
      cursor: pointer;

      &:hover {
        background-color: lighten($primary-color, 30%);
      }
    }
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range {
    background-color: $primary-color;
    color: $secondary-color;
  }

  .react-datepicker__navigation {
    top: 10px;
    border: none;

    &::before {
      border-color: $primary-color;
    }
  }

  .react-datepicker__navigation--previous {
    left: 10px;
  }

  .react-datepicker__navigation--next {
    right: 10px;
  }

  .react-datepicker__input-container input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid $light-color;
    border-radius: 0.5rem;
    outline: none;

    &:hover {
      border-color: $dark-color;
    }

    &:focus {
      border-color: $primary-color;
    }
  }
}

.react-datepicker__close-icon {
  right: 5%;
  &::after {
    background-color: $primary-color;
    color: $secondary-color;
  }
}
