@import "./Variables.scss";

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem 4rem 1rem 8rem;
  font-family: $font-primary;
  color: $primary-color;
  align-items: center;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  .column_footer {
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
    #footer_logo {
      display: block;
      height: 13vh;
      margin: 0 auto;
    }
    h2 {
      font-weight: 900;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    a {
      text-decoration: none;
      display: block;
      color: $primary-color;
      margin-bottom: 0.2rem;
      transition: transform 0.3s ease, color 0.3s ease;
      &:hover {
        text-decoration: underline;
        transform: scale(1.02);
        color: $hover-color;
      }
    }
    p {
      font-size: 0.8rem;
      span {
        display: block;
        margin-bottom: 0.2rem;
      }
    }
  }
}
