@import "../../Variables.scss";

.Owner_profile {
  padding: 2.5rem 1.25rem;
  font-family: $font-primary;
  justify-items: center;
  background-image: url("../../../assets/images/ownerprofile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: $very-light-color;
    font-family: $font-primary;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  .profile-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    width: 90vw;
    padding: 3rem 1rem;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    background-color: $very-light-color;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    height: 60vh;

    .profile-left {
      width: 40%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .profile-img-container {
        position: relative;
        width: 12rem;
        height: 12rem;
        cursor: pointer;

        .profile-img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          transition: filter 0.3s ease;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 2rem;
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 1;
          }

          i {
            pointer-events: none;
          }
        }
      }

      .profile-info {
        margin-top: 0.5rem;
        color: $primary-color;

        h3 {
          font-size: 2rem;
          font-weight: 400;
          margin-bottom: 0.625rem;
          color: $primary-color;
        }

        p {
          margin: 0.3rem 0;
          font-size: 1rem;
        }
      }

      .edit-button {
        margin-top: 1.875rem;
        padding: 0.625rem 1.25rem;
        font-size: 1rem;
        font-family: $font-primary;
        cursor: pointer;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        border-radius: 0.3rem;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          color: white;
          background-color: $hover-color;
        }
      }
    }

    .profile-right {
      width: 50%;

      .about_me {
        font-size: 1.3rem;
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: $font-primary;
        color: $primary-color;
      }

      .profile-description {
        display: flex;
        flex-direction: column;
        height: 51vh;

        .description-text {
          height: 38vh;
          overflow-y: auto;
          resize: none;
          margin: 0;
          padding: 1.25rem;
          padding-right: 1.75rem;
          cursor: text;
          color: $primary-color;
          white-space: pre-wrap;
          border: 0.01rem solid $dark-color;
          border-radius: 0.2rem;
          background-color: white;

          &:focus {
            border: none;
          }

          &::-webkit-scrollbar {
            width: 0.5rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $dark-color;
            border-radius: 4px;
          }

          &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 4px;
          }
        }

        .editable-textarea {
          flex: 1;
          overflow-y: auto;
          resize: none;
          width: 100%;
          border: 0.01rem solid $hover-color !important;
          border-radius: 0.2rem;
          font-size: 1rem;
          color: $primary-color;
          font-family: $font-primary;
          padding: 1.25rem;
          box-sizing: border-box;
          scrollbar-gutter: stable;

          &:focus {
            outline: none;
          }

          &::-webkit-scrollbar {
            width: 0.5rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $dark-color;
            border-radius: 4px;
          }

          &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 4px;
          }
        }

        .buttons {
          display: flex;
          gap: 0.625rem;
          justify-content: flex-end;
          margin-top: 0.5rem;

          .save-button,
          .cancel-button {
            padding: 0.625rem 1.25rem;
            font-size: 1rem;
            cursor: pointer;
            border: none;
            border-radius: 0.3125rem;
            font-family: $font-primary;
            transition: background-color 0.3s ease, color 0.3s ease;
          }

          .save-button {
            background-color: $primary-color;
            color: $secondary-color;

            &:hover {
              background-color: $hover-color;
              color: white;
            }
          }

          .cancel-button {
            background-color: $secondary-color;
            color: $primary-color;

            &:hover {
              background-color: $hover-color;
              color: white;
            }
          }
        }
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-content {
      background-color: #f9f9f9;
      padding: 1.5rem;
      border-radius: 2%;
      position: relative;
      width: 50vw;
      justify-items: center;

      .close-button {
        position: absolute;
        right: 1rem;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: $primary-color;
        transition: color 0.3s ease;
        &:hover {
          color: $hover-color;
        }
      }

      h3 {
        margin: 1.5rem auto;
        text-align: center;
        color: $primary-color;
        font-weight: 400;
        font-size: 1.5rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 80%;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;

          label {
            margin-bottom: 0.2rem;
            color: $primary-color;
          }

          input {
            width: 80%;
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 0.4rem;
            box-sizing: border-box;
            transition: border-color 0.3s;
            color: $primary-color;
            font-family: $font-primary;

            &:focus {
              border-color: $primary-color;
              outline: none;
            }
          }
        }

        .save-button {
          margin-top: 1.8rem;
          padding: 0.6rem 1.25rem;
          font-size: 1rem;
          font-family: $font-primary;
          cursor: pointer;
          background-color: $primary-color;
          color: $secondary-color;
          border: none;
          border-radius: 0.3rem;
          align-self: center;
          width: 40%;
          transition: background-color 0.3s ease, color 0.3s ease;
          &:hover {
            color: white;
            background-color: $hover-color;
          }
        }
      }
      .file-upload-form {
        align-items: center;
        label {
          align-self: center;
          input {
            font-family: $font-primary;
            color: $primary-color;
            justify-items: center;
          }
          input::file-selector-button {
            display: block;
            font-family: $font-primary;
            padding: 0.6rem 1.25rem;
            font-size: 1rem;
            cursor: pointer;
            background-color: $secondary-color;
            color: $primary-color;
            border: none;
            border-radius: 0.3rem;
            margin-bottom: 1rem;
            transition: background-color 0.3s ease, color 0.3s ease;
            &:hover {
              color: white;
              background-color: $hover-color;
            }
          }
        }
        button {
          font-family: $font-primary;
          background-color: $primary-color;
          color: $secondary-color;
          padding: 0.6rem 1.25rem;
          font-size: 1rem;
          cursor: pointer;
          border: none;
          border-radius: 0.3rem;
          transition: background-color 0.3s ease, color 0.3s ease;
          &:hover {
            color: white;
            background-color: $hover-color;
          }
        }
      }

      .slider-container {
        justify-items: center;
        margin: 1rem 0;
        label {
          color: $primary-color;
          font-family: $font-primary;
        }
        input {
          margin: 0;
          display: block;
        }
        input[type="range"] {
          -webkit-appearance: none;
          width: 100%;
          background: transparent;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &::-webkit-slider-runnable-track {
            width: 100%;
            height: 8px;
            background: $secondary-color;
            border-radius: 4px;
          }
          &::-moz-range-track {
            width: 100%;
            height: 8px;
            background: $secondary-color;
            border-radius: 4px;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 16px;
            width: 16px;
            background: $primary-color;
            border-radius: 50%;
            margin-top: -4px;
          }
          &::-moz-range-thumb {
            height: 16px;
            width: 16px;
            background: $primary-color;
            border-radius: 50%;
            border: none;
          }
        }
      }
      .save-button {
        padding: 0.6rem 1.25rem;
        font-size: 1rem;
        font-family: $font-primary;
        cursor: pointer;
        background-color: $primary-color;
        color: $secondary-color;
        border: none;
        border-radius: 0.3rem;
        align-self: center;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover {
          color: white;
          background-color: $hover-color;
        }
      }
    }
  }

  .owner_other_pages {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    align-content: center;
    justify-content: space-around;
    margin-top: 3rem;
    z-index: 0;

    a {
      display: block;
      width: 30%;
      text-align: center;
      align-content: center;
      height: 30vh;
      text-decoration: none;
      background-color: $secondary-color;
      color: $primary-color;
      font-family: $font-primary;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      transition: color 0.4s ease, background-color 0.4s ease;

      &:hover {
        color: white;
        background-color: $hover-color;
      }
    }
  }
}

// Responsywność
@media (max-width: 1050px) {
  .Owner_profile {
    .profile-container {
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      height: auto;

      .profile-left,
      .profile-right {
        max-width: 100%;
        padding-left: 0;
      }

      .profile-right {
        padding-top: 0;
      }
    }

    .modal-overlay {
      .modal-content {
        padding: 1.25rem;
      }
    }
  }
}
