@import "../../Variables.scss";
@import "../../App.scss";

.reservations {
  background-image: url("../../../assets/images/reservations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2rem 0;
  display: grid;
  justify-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .back {
    float: none;
    display: block;
    width: 100%;
    margin-left: 2rem;
    a {
      font-family: $font-primary;
    }
  }

  .reservations_header {
    font-size: 3rem;
    margin: 1rem 0;
    font-family: $font-primary;
    color: $white;
    font-weight: 400;
    text-align: center;
  }

  .owner_other_pages {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8vw;

    a {
      text-decoration: none;
      color: $primary-color;
      font-family: $font-primary;
      padding: 0.5rem 2rem;
      border: 1px solid $light-color;
      border-radius: 0.5rem;
      font-size: 1rem;
      background-color: $white;
      transition: 0.3s background-color ease, 0.3s color ease;

      &:hover {
        background-color: $very-light-color;
        color: $hover-color;
      }
    }
  }

  .waiting_confirmed {
    padding: 2rem;
    background-color: $white;
    border-radius: 8px;
    width: 85%;
    align-self: center;
  }
}
